import { getRequest, postRequest } from '@/utils/request'

const api = {
    // 分页
    page: '/${moduleName}/${pathName}/page',
    // 列表
    list: '/${moduleName}/${pathName}/list',
    // 获取一条数据
    get: '/${moduleName}/${pathName}/get',
    // 新增
    save: '/${moduleName}/${pathName}/save',
    // 修改
    update: '/${moduleName}/${pathName}/update',
    // 删除
    remove: '/${moduleName}/${pathName}/delete'
}
const jsonHeaders = {
    'Content-Type': 'application/json;charset=UTF-8'
}

export function get${className}Page (parameter) {
    return getRequest(api.page, parameter, jsonHeaders)
}

export function get${className}List (parameter) {
    return getRequest(api.list, parameter, jsonHeaders)
}

export function getOne (parameter) {
    return getRequest(api.get, parameter, jsonHeaders)
}

export function save (parameter) {
    return postRequest(api.save, parameter, jsonHeaders)
}

export function update (parameter) {
    return postRequest(api.update, parameter, jsonHeaders)
}

export function remove (parameter) {
    return postRequest(api.remove, parameter, jsonHeaders)
}
