#set($inputComponentsType = ["INPUT", "INPUT-NUMBER", "TEXTAREA"] )
#set($selectComponentsType = ["SELECT", "CASCADER", "TREE-SELECT", "DATEPICKER", "TIMEPICKER", "FILE-UPLOAD"] )
const local: App.I18n.Schema = {
  page: {
#if($hasMenu)
    ${menu.routeName}: {
      ${classname}: {
        add${className}: 'Add ${className}',
        view${className}: '${className} Detail',
        edit${className}: 'Edit ${className}',
        title: '${className} Table',
#foreach($column in $i18n)
        ${column.attrName}: '${column.i18nValue}',
#end
        form: {
#foreach($column in $i18nForm)
#if($inputComponentsType.contains($column.components))
          ${column.attrName}: 'Please enter ${column.placeholderValue}'#if($foreach.hasNext),
#else

#end
#end
#if($selectComponentsType.contains($column.components))
          ${column.attrName}: 'Please select ${column.placeholderValue}'#if($foreach.hasNext),
#if($column.components == 'DATEPICKER' &&  $column.queryType == 'BETWEEN')
          ${column.attrName}Map: {
            start: 'Please select start time',
            end: 'Please select end time'
          }#if($foreach.hasNext),
#else

#end
#end
#else

#end
#end
#end
        }
      }
    }
#else
    ${classname}: {
      add${className}: 'Add ${className}',
      view${className}: '${className} Detail',
      edit${className}: 'Edit ${className}',
      title: '${className} Table',
#foreach($column in $i18n)
      ${column.attrName}: '${column.i18nValue}',
#end
      form: {
#foreach($column in $i18nForm)
#if($inputComponentsType.contains($column.components))
        ${column.attrName}: 'Please enter ${column.placeholderValue}'#if($foreach.hasNext),
#else

#end
#end
#if($selectComponentsType.contains($column.components))
        ${column.attrName}: 'Please select ${column.placeholderValue}'#if($foreach.hasNext),
#if($column.components == 'DATEPICKER' &&  $column.queryType == 'BETWEEN')
        ${column.attrName}Map: {
          start: 'Please select start time',
          end: 'Please select end time'
        }#if($foreach.hasNext),
#else

#end
#end
#else

#end
#end
#end
      }
    }
#end
  }
}