#set($inputComponentsType = ["INPUT", "INPUT-NUMBER", "TEXTAREA"] )
#set($selectComponentsType = ["SELECT", "CASCADER", "TREE-SELECT", "DATEPICKER", "TIMEPICKER", "FILE-UPLOAD"] )
const local: App.I18n.Schema = {
  page: {
#if($hasMenu)
    ${menu.routeName}: {
      ${classname}: {
        add${className}: '新增${comments}',
        view${className}: '${comments}详情',
        edit${className}: '修改${comments}',
        title: '${comments}列表',
#foreach($column in $i18n)
        ${column.attrName}: '${column.comments}',
#end
        form: {
#foreach($column in $i18nForm)
#if($inputComponentsType.contains($column.components))
          ${column.attrName}: '请输入${column.comments}'#if($foreach.hasNext),
#else

#end
#end
#if($selectComponentsType.contains($column.components))
          ${column.attrName}: '请选择${column.comments}'#if($foreach.hasNext),
#if($column.components == 'DATEPICKER' &&  $column.queryType == 'BETWEEN')
          ${column.attrName}Map: {
            start: '请选择开始时间',
            end: '请选择结束时间'
          }#if($foreach.hasNext),
#else

#end
#end
#else

#end
#end
#end
        }
      }
    }
#else
    ${classname}: {
      add${className}: '新增${comments}',
      view${className}: '${comments}详情',
      edit${className}: '修改${comments}',
      title: '${comments}列表',
#foreach($column in $i18n)
      ${column.attrName}: '${column.comments}',
#end
      form: {
#foreach($column in $i18nForm)
#if($inputComponentsType.contains($column.components))
        ${column.attrName}: '请输入${column.comments}'#if($foreach.hasNext),
#else

#end
#end
#if($selectComponentsType.contains($column.components))
        ${column.attrName}: '请选择${column.comments}'#if($foreach.hasNext),
#if($column.components == 'DATEPICKER' &&  $column.queryType == 'BETWEEN')
        ${column.attrName}Map: {
          start: '请选择开始时间',
          end: '请选择结束时间'
        }#if($foreach.hasNext),
#else

#end
#end
#else

#end
#end
#end
      }
    }
#end
  }
}