<template>
  <a-modal
    title="操作"
    :width="640"
    :mask="true"
    :maskClosable="false"
    :centered="true"
    :visible="visible"
    :confirmLoading="loading"
    :ok-button-props="{ props: { disabled: isRead } }"
    @ok="() => { $emit('ok') }"
    @cancel="() => { $emit('cancel') }"
  >
    <a-spin :spinning="loading">
      <a-form :form="form" v-bind="this.formLayout">
#foreach ($column in $formColumns)
        <a-row class="form-row" :gutter="16">
          <a-col :lg="#if($column.rowStyle == '2')12#else 24#end" :md="#if($column.rowStyle == '2')12#else 24#end" :sm="24">
            <a-form-item#if($column.components == "HIDE") v-show="false"#end label="${column.comments}"#if($column.rowStyle == '1') class="fullLineCss"#end >
#if($column.components == "HIDE")
              <a-input v-decorator="['${column.attrName}']" disabled />
#elseif($column.components == "INPUT")
              <a-input v-decorator="['${column.attrName}'#if($column.isNotNull == "1"), {rules: [{required: true, message: '${column.comments}不能为空'}]}#end]" placeholder="请填写${column.comments}" :disabled="isRead" />
#elseif($column.components == "INPUT-NUMBER")
              <a-input v-decorator="['${column.attrName}'#if($column.isNotNull == "1"), {rules: [{required: true, type: 'number', transform: (value) => Number(value), message: '请输入数字'}]}#end]" placeholder="请填写${column.comments}" :disabled="isRead" />
#elseif($column.components == "TEXTAREA")
              <a-textarea
                :rows="5"
                id="${column.attrName}"
                v-decorator="['${column.attrName}'#if($column.isNotNull == "1"), {rules: [{required: true, message: '${column.comments}不能为空'}]}#end]"
                placeholder="请填写${column.comments}"
                :disabled="isRead"
              />
#elseif($column.components == "SELECT")
              <a-select
                allowClear
                placeholder="请选择${column.comments}"
                v-decorator="['${column.attrName}'#if($column.isNotNull == "1"), {rules: [{required: true, message: '${column.comments}不能为空'}]}#end]"
                :disabled="isRead"
                showSearch
                optionFilterProp="label"
              >
#if($column.dictCode)
                <a-select-option v-for="(value, key) in dictMap['${column.dictCode}']" :key="key" :label="value">{{ value }}</a-select-option>
#end
              </a-select>
#elseif($column.components == "CASCADER")
              <a-cascader
                change-on-select
                style="width: 100%"
                placeholder="请选择${column.comments}"
                :key="demoValue"
                :value="demoValue"
                :options="demoValue"
                :disabled="isRead"
              />
#elseif($column.components == "TREE-SELECT")
              <a-tree-select
                show-search
                v-decorator="['${column.attrName}'#if($column.isNotNull == "1"), {rules: [{required: true, message: '${column.comments}不能为空'}]}#end]"
                style="width: 100%"
                :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
                placeholder="请选择${column.comments}"
                allow-clear
                tree-node-filter-prop="title"
                :replaceFields="replaceFields"
                :tree-data="demoValue"
                :disabled="isRead"
              >
              </a-tree-select>
#elseif($column.components == "CHECKBOX")
              <a-checkbox-group
                v-decorator="['${column.attrName}'#if($column.isNotNull == "1"), {rules: [{required: true, message: '${column.comments}不能为空'}]}#end]"
                :options="demoValue"
                :disabled="isRead"
              />
#elseif($column.components == "RADIO")
              <a-radio-group
                v-decorator="['${column.attrName}', {initialValue: ''}#if($column.isNotNull == "1"), {rules: [{required: true, message: '${column.comments}不能为空'}]}#end]"
                buttonStyle="solid"
                :disabled="isRead"
              >
                <a-radio v-for="(value, key) in dictMap['$column.dictCode']" :key="key" :value="key">
                  {{ value }}
                </a-radio>
              </a-radio-group>
#elseif($column.components == "DATEPICKER")
              <date-string-picker
                  v-decorator="['${column.attrName}'#if($column.isNotNull == "1"), {rules: [{required: true, message: '${column.comments}不能为空'}]}#end]"
                  placeholder="请选择${column.comments}"
                  style="display: block"
                  :disabled="isRead"
              />
#elseif($column.components == "TIMEPICKER")
              <a-time-picker
                v-decorator="['${column.attrName}'#if($column.isNotNull == "1"), {rules: [{required: true, message: '${column.comments}不能为空'}]}#end]"
                format="HH:mm:ss"
                placeholder="请选择${column.comments}"
                :disabled="isRead"
              />
#elseif($column.components == "SWITCH")
              <a-switch
                :defaultChecked="demoValue"
                :disabled="isRead"
              />
#end
            </a-form-item>
          </a-col>
        </a-row>
#end
#foreach ($column in $uploadColumns)
        <a-row class="form-row" :gutter="16">
          <a-col :lg="#if($column.rowStyle == '2')12#else 24#end" :md="#if($column.rowStyle == '2')12#else 24#end" :sm="24">
            <a-form-item label="${column.comments}"#if($column.rowStyle == '1') class="fullLineCss"#end >
              <my-upload
                :fileList="fileList"
                :disabled="isRead"
              >
              </my-upload>
            </a-form-item>
          </a-col>
        </a-row>
#end
      </a-form>
    </a-spin>
  </a-modal>
</template>

<script>
import pick from 'lodash.pick'
#if($hasCascader)
import { Cascader } from 'ant-design-vue'
#end
#if($hasTreeSelect)
import { TreeSelect } from 'ant-design-vue'
#end
#if(${formDictColumns})
import { initDict } from '@/utils/dictUtil'
#end
#if(${uploadColumns} && ${uploadColumns.size()} >0)
import MyUpload from '@/components/Upload'
#end
#if(${hasFormDate})
import DateStringPicker from '@/components/DateStringPicker/index.vue'
#end

// 表单字段
const fields = [#foreach($column in $formColumns)#if(${velocityCount} != ${formColumns.size()}) '${column.attrName}',#else '${column.attrName}' #end#end]

export default {
  components: {
#if(${hasFormDate})
    DateStringPicker,
#end
#if($hasCascader)
    [Cascader.name]: Cascader,
#end
#if($hasTreeSelect)
    [TreeSelect.name]: TreeSelect,
    ATreeSelectNode: TreeSelect.TreeNode,
#end
#if(${uploadColumns} && ${uploadColumns.size()} >0)
    MyUpload
#end
  },
  props: {
      visible: {
          type: Boolean,
          required: true
      },
      loading: {
          type: Boolean,
          default: () => false
      },
      model: {
          type: Object,
          default: () => null
      }
  },
  data () {
    return {
      isRead: false,
      formLayout: {
        labelCol: {
          xs: { span: 24 },
          sm: { span: 7 }
        },
        wrapperCol: {
          xs: { span: 24 },
          sm: { span: 13 }
        }
      },
#if(${uploadColumns} && ${uploadColumns.size()} >0)
      fileList: [],
#end
#if(${formDictColumns})
      dictMap: {},
#end
#if($hasTreeSelect)
      replaceFields: {
        children: '',
        title: '',
        key: '',
        value: ''
      },
#end
      demoValue: '',
      form: this.$form.createForm(this)
    }
  },
  created () {
#if(${formDictColumns})
      this.dictMap = initDict('${formDictColumns}')
#end
      // 当 model 发生改变时，为表单设置值
      this.$watch('model', () => {
          this.setForm()
      })
  },
  methods: {
    setForm (fieldArr) {
      // 防止表单未注册
      if (fieldArr && fieldArr.length > 0) {
        fieldArr.forEach(v => this.form.getFieldDecorator(v))
        this.model && this.form.setFieldsValue(pick(this.model, fieldArr))
      } else {
        fields.forEach(v => this.form.getFieldDecorator(v))
        this.model && this.form.setFieldsValue(pick(this.model, fields))
      }
    }
  }
}
</script>
#if($hasFullRow)
<style>
  .fullLineCss .ant-form-item-label{
    margin-left: -14.8%;
  }
  .fullLineCss .ant-form-item-control-wrapper{
    width: 77.4%;
  }
</style>
#end